.container_geral {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 58px;
}

header h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin-top: 12px;
}

.container {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}

main {
    max-width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post {
    max-width: 286px;
    height: 343;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
    padding-bottom: 36px;
    margin-top: 19px;
}

.post img {
    margin-bottom: 16px;
}

.post h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0D0D0E;
    margin-bottom: 16px;
}

.post h2:hover {
    text-decoration: underline;
}

.post p {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #343A40;
    max-width: 269px;
    margin-bottom: 16px;
}

.post span {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #343A40;
    margin-left: 9px;
}

aside {
    max-width: 30%;
    font-family: 'Inter', sans-serif;
}

aside h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0D0D0E;
    margin: 19px 0 31px;
}

aside img {
    margin: 0 17px 21px 0;
}

aside h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #0D0D0E;
}

.recent_post {
    display: flex;
    align-items: flex-start;
}

.popular_post {
    display: flex;
    align-items: flex-start;
}

footer {
    height: 105px;
    background-color: #0D0D0E;
}

.container_footer {
    display: flex;
    align-items: center;
}

.footer_column1 {
    height: 105px;
    display: flex;
    align-items: center;
}

.footer_column1 a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #F3F4F5;
}

.footer_column2 {
    width: 1203px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_column2 a {
    margin-left: 45px;
}